body {
  font-family: Arial;
}

.card {
  width: 625px;
}

.poll__title {
  margin-bottom: 20px;
}
.modal_mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #ebe5e5;
  padding: 20px;
  left: 40%;
  top: 30%;
}

.modal_msg {
  font-size: 16px;
  font-weight: 500;
  color: #5f6368;
  line-height: 50px;
}

.close_btn {
  background: #06f;
  text-decoration: none;
  color: whitesmoke;
  padding: 10px 20px;
  border-radius: 2px;
  margin: 0 auto;
}

.item__code {
  margin-right: 5px;
  font-weight: bold;
}
.item__value {
  margin-right: 5px;
}